<section id="home" data-speed="4" data-type="background">
    <div class="container">
        <div class="row-fluid">
            <div class="span8 offset2 col-centered">
                <h1>DeMoga</h1>
                <h2>Recording studio</h2>
                <h2></h2>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 offset4 col-centered-border">
                <h3>BOOK A SESSION</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5 col-centered" style="padding:25px;">
            </div>
        </div>
    </div>
    <div class="container-fluid" style="width=100%">
        <div class="row-fluid shadow offset0">
            <div class="span2"></div>
            <div class="span8">
                <div class="span4 col-centered ">
                    <img src="./images/RECORDING.svg" />

                    <p></p>
                    <p>RECORDING</p>
                    <div class="triangle">
                        <img src="./images/TRIANGLE.svg" class="trian" />
                    </div>
                    <p1>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p1>
                </div>
                <!-- /.span4 -->
                <div class="span4 col-centered ">
                    <img src="./images/MIXING.svg" />

                    <p></p>
                    <p>MIXING</p>
                    <div class="triangle">
                        <img src="./images/TRIANGLE.svg" class="trian" />
                    </div>
                    <p1>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p1>
                </div>
                <!-- /.span4 -->
                <div class="span4 col-centered ">
                    <img src="./images/MASTERING.svg" />

                    <p></p>
                    <p>MASTERING</p>
                    <div class="triangle">
                        <img src="./images/TRIANGLE.svg" class="trian" />
                        <div>
                            <p1>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p1>
                        </div>
                        <!-- /.span4 -->
                    </div>
                </div>
            </div>
            <div class="span2"></div>
        </div>
    </div>
</section>



<section id="intro" class="row-fluid text-banner">
    <div class="row-fluid grey-trian">
        <img src="./images/TRIANGLE_GREY.svg"></img>
    </div>
    <div class="row-fluid">
        <h1>THE STUDIO</h1>
        <br/>
        <br/>
    </div>
    <div class="col-md-8 col-md-offset-2 intro-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="row-fluid carousel">
        <div style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</section>

<section id="equipment" class=" text-banner">
    <div class="white-trian">
        <img src="./images/TRIANGLE_WHITE.svg" />
    </div>
    <div class="equipment-header">
        <h1>OUR EQUIPMENT</h1>
        <br/>
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1"></div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/RECORDERS.svg" />
            <h3>RECORDERS</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MIXERS.svg" />
            <h3>MIXERS</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MICROPHONES.svg" />
            <h3>MICROPHONES</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1"></div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/OUTBOARDGEAR.svg" />
            <h3>OUTBOARDGEAR</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MONITORING.svg" />
            <h3>MONITORING</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/INSTRUMENTS.svg" />
            <h3>INSTRUMENTS</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>


<section id="clients" class=" text-banner">

    <div class="blue-trian">
        <img src="./images/TRIANGLE_BLUE.svg" />
    </div>
    <div class="clients-header">
        <h1>CLIENTS</h1>

    </div>

    <div class="container--grid">

        <div class="main--grid">
            <ul id="og-grid" class="og-grid">
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/2.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/3.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/4.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/5.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/6.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/7.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/8.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/9.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/10.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/11.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/12.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/2.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/3.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/4.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/5.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/6.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/7.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/8.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/9.jpg" alt="img03" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/10.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="images/thumbs/11.jpg" alt="img02" />
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/intro_img3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="images/thumbs/12.jpg" alt="img03" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /container -->
    <script src="js/grid.js"></script>
    <script>
        $(function() {
            Grid.init();
        });
    </script>

    <!--
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 clients-oval-image">
                <img class="img-circle" src="./images/intro_img2.jpg" />
            </div>
            <div class="col-md-3 clients-subheader">
                <h2>Artist name</h2>
                </br>
                </br>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</br>
                    </br>
                    <h3>HEAR MORE ARTISTS</h3>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
-->
</section>

<!--
    <section class="main">

        <ul class="ch-grid">

            <div class="ch-item ch-img-1 lili">
                <div class="ch-info-wrap">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                            <h3>taxi</h3>
                            <p>by Ana Villa-Zamora <a href="http://drbl.in/ewng">View on Dribbble</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ch-item ch-img-2 lili">
                <div class="ch-info-wrap">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-2"></div>
                        <div class="ch-info-back">
                            <h3>Stay Foxy</h3>
                            <p>by Arnel Baluyot <a href="http://drbl.in/eQDg">View on Dribbble</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ch-item ch-img-3 lili">
                <div class="ch-info-wrap">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-3"></div>
                        <div class="ch-info-back">
                            <h3>Klava Jinx</h3>
                            <p>by Jamal Charanek <a href="http://drbl.in/ejLW">View on Dribbble</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </ul>

    </section>
-->
<section id="rates" class=" text-banner">
    <div class="black-trian">
        <img src="./images/TRIANGLE_BLACK.svg" />
    </div>
    <div class="rates-header">
        <h1>RATES</h1>
        <br/>
        <br/>
    </div>
    <div class="row-fluid">

        <div class="span2"></div>
        <div class="span2  rates-square">
            <h3>STUDIO TIME</h3>
        </div>
        <div class="span2  rates-square">
            <h3>MIXING</h3>
        </div>
        <div class="span2  rates-square">
            <h3>MASTERING</h3>
        </div>
        <div class="span2  rates-square">
            <h3>
               PRODUCTION
                </h3>
        </div>
        <div class="span2"></div>
    </div>
</section>


<section id="contact">
    <div id="map-container-g" hello-maps="" latitude="44.417184" longitude="26.119362"></div>
    <div class="row">
        <div class="span4 offset4 col-centered-border contact-form md-trigger" data-modal="modal-11">
            <h3> Leave a message</h3>
        </div>
    </div>
    <div class="row">
        <div class="span4 offset4 col-centered-border contact-address">
            <h2>735 SW Mt. Sl Blvd., North Bend</h2>
            <h2>425-888-1487</h2>
        </div>
    </div>
</section>

<div class="md-modal md-effect-11" id="modal-11">
    <div class="md-content">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close md-close">x</button>
                <div class="modal-header">
                    <h2 class="modal-title">Say Hello!</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="col-sm-12 modal-text">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
                        </div>
                        </br>
                        <div class="col-sm-12 modal-text">
                            <input type="text" class="form-control" id="email" placeholder="Your Email" ng-model="email">
                        </div>
                        </br>
                        <div class="col-sm-12 modal-text">
                            <textarea class="form-control" id="message" placeholder="Your Message" ng-model="message"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="col-centered-border">
                        <h3>Send Message</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="js/classie.js"></script>
<script src="js/modalEffects.js"></script>
<script src="js/parallax.js"></script>
