<div>
    <section id="studios" class="text-banner">
        <!--
        <div class="studios-header">
            <h1>STUDIOS</h1>
            <br/>
            <br/>
        </div>
-->
        <div class="containerx demo-1 row-fluid">
            <div id="slider" class="sl-slider-wrapper">

                <div class="sl-slider">
                    <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="q"></div>
                            <h2>Regula aurea</h2>
                            <blockquote>
                                <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite>
                            </blockquote>
                        </div>
                    </div>
                    <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="H"></div>
                            <h2>A bene placito</h2>
                            <blockquote>
                                <p>You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.</p><cite>Ralph Waldo Emerson</cite>
                            </blockquote>
                        </div>
                    </div>



                    <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="I"></div>
                            <h2>Donna nobis pacem</h2>
                            <blockquote>
                                <p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite>
                            </blockquote>
                        </div>
                    </div>

                    <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="t"></div>
                            <h2>Acta Non Verba</h2>
                            <blockquote>
                                <p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- /sl-slider -->

                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>

                <nav id="nav-dots" class="nav-dots">
                    <span class="nav-dot-current"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </nav>

            </div>
            <!-- /slider-wrapper -->

        </div>
<!--        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="js/jquery.ba-cond.min.js"></script>
        <script type="text/javascript" src="js/jquery.slitslider.js"></script>
        <script type="text/javascript">
            $(function() {

                var Page = (function() {

                    var $navArrows = $('#nav-arrows'),
                        $nav = $('#nav-dots > span'),
                        slitslider = $('#slider').slitslider({
                            onBeforeChange: function(slide, pos) {

                                $nav.removeClass('nav-dot-current');
                                $nav.eq(pos).addClass('nav-dot-current');

                            }
                        }),

                        init = function() {

                            initEvents();

                        },
                        initEvents = function() {

                            // add navigation events
                            $navArrows.children(':last').on('click', function() {

                                slitslider.next();
                                return false;

                            });

                            $navArrows.children(':first').on('click', function() {

                                slitslider.previous();
                                return false;

                            });

                            $nav.each(function(i) {

                                $(this).on('click', function(event) {

                                    var $dot = $(this);

                                    if (!slitslider.isActive()) {

                                        $nav.removeClass('nav-dot-current');
                                        $dot.addClass('nav-dot-current');

                                    }

                                    slitslider.jump(i + 1);
                                    return false;

                                });

                            });

                        };

                    return {
                        init: init
                    };

                })();

                Page.init();

            });
        </script>
        <div class="row-fluid studios-paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row-fluid studios-equip-info">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1"></div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/RECORDERS_BLUE.svg" />
                    <h3>RECORDERS</h3>
                </div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/MIXERS_BLUE.svg" />
                    <h3>MIXERS</h3>
                </div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/MICROPHONES_BLUE.svg" />
                    <h3>MICROPHONES</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1"></div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/OUTBOARDGEAR_BLUE.svg" />
                    <h3>OUTBOARDGEAR</h3>
                </div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/MONITORING_BLUE.svg" />
                    <h3>MONITORING</h3>
                </div>
                <div class="col-sm-2 equipment-button">
                    <img src="./images/INSTRUMENTS_BLUE.svg" />
                    <h3>INSTRUMENTS</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

    </section>
</div>