body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    /*padding-top: 110px;*/

}

.navbar {
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}

.icon-bar {
    color: rgba(256, 256, 256, 1);
}

.navbar-inverse {
    background-color: rgba(256, 256, 256, 0);
    border-color: rgba(256, 256, 256, 0);
}

.navbar-inverse .navbar-nav>li>a {
    color:  rgba(256, 256, 256, 1);
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color:  rgba(66, 197, 190, 0.5);
}


.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 300px;
}

.title-image {
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.title-booksession {
    padding: 10px 0px;
    border-style: solid;
    border-width: 5px;
    float: none;
    position:relative;
    text-align: center;
    color:white;
}

.title-booksession:hover{
    color: #42c5be;
}

.title-center-header{
    padding: 10px 0px;
    padding-top: 100px;
    float: none;
    position:relative;
    text-align: center;
    color:white;
}

.title-booksession:hover{
    color: #42c5be;
}

.title-center-header h1 {
    font-size: 300%;
    color:white;
}

.title-center-header h2 {
    font-size: 200%;
    color:white;
}

.title-center-header h3 {
    font-size: 100%;
}

.down-button {
    width: 100%;
    text-align: center;
}
.down-button i {
    color: white;
}

.shadow {
    position: absolute;
	background-color: rgba(0,0,0,0.8);
	max-height: 70%;
	bottom: 0px;	
}

.intro-text{
    color: black;
}

.col-centered img:not(.trian) {
	max-width: 40%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 10px;
}

.col-centered img.trian{
	max-width: 2%;
}

.col-centered p{
    text-align: center;
}

.triangle {
/* 	border-top: 3px solid rgba(255, 255, 255, 1);*/
/*    border-color: white;*/
    color: white;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px){
    .fixed-attachment {
        background-attachment: scroll;
    }	
}

.text-banner {
    text-align: center;
    margin: 0px 0px;
}
.text-banner h1 {
    font-size: 44px;
}
.text-banner p {
    font-size: 18px;
}

.activity-element {
    padding-top: 20px;
    text-align: center;
}

.activity-element img:not(.trian) {
    width: 100px;
    height: 100px;
}

.activity-element img.trian {
    width: 20px;
    height: 20px;
}
    
#intro{
    margin-top: -3px;
} 

.intro-img{
    padding-top: 20px;
} 

.intro-img img{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.grey-trian img{
    margin-top: 0px;
    max-width: 7%;
}
#carousel {
    margin: 40px 0px;
}
#carousel img {
    width: 100%;
    height: auto;
}

.contact-us {
    margin: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.range-list {
    padding-bottom: 40px;
    padding-top: 40px;
}
.range-list h4 {
    margin-bottom: 40px;
    color: darkorange;
    font-weight: bold;
}
.range-list img {
    width: 100%;
    height: 100%;
    max-width: 140px;
    max-height: 60px;
}
.range-title {
    color: darkblue;
}

.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
}
.sports-icon-list a {
    color: white;
}
.sports-icon-list a h6 {
    margin-top: 2px;
    margin-bottom: 14px;
}
.sports-icon-list img {
    width:70px;
    height:70px;
}

.sports-list-top div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sports-list-top a {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

article {
    padding: 40px;
}
article img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
}
article p {
    font-size: 16px;
}

@media (max-width: 767px) {

    .range-list h4 {
        display: inline;
        font-size: 18px;
    }

    .range-list a {
        display: block;
    }

    .range-list img {
        width: 33%;
        height: 33%;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

}


/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}