#clients {
	background-image:
    linear-gradient(
      black, #2c241d
    );
	padding-bottom: 100px;
}

.blue-trian img{
	max-width: 7%;
}

.clients-header h1{
	color: white;
    padding-bottom: 50px;
}


.clients-oval-image img{
    max-width: 200px;
    margin-top: 50px;
}

.clients-subheader h2{
    text-align: left;
    font-size: 150%;
    color: rgba(66, 197, 190, 1);
}

.clients-subheader p{
    text-align: left;
    color: white;
    text-align: justify;
}


.clients-subheader h3{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    color: white;
}
