#equipment {
	background-image:
    linear-gradient(
      red, #f06d06
    );
	padding-bottom: 100px;
    height: 100vh;
}

.white-trian img{
	max-width: 7%;
}

.equipment-header h1{
	color: white;
}

.equipment-button h3{
    border-style: solid;
    border-width: 2px;
    text-align: center;
    color: white;
    padding: 5px 0px;
    margin: 0px;
    font-size: 100%;
}


@media (max-width: 768px) {
    .equipment-button h3{
        border-style: solid;
        border-width: 2px;
        text-align: center;
        color: white;
        padding: 5px 0px;
        margin: 0px;
        font-size: 200%;
    }
   
}

@media (min-width: 768px) {
    .equipment-button h3{
        border-style: solid;
        border-width: 2px;
        text-align: center;
        color: white;
        padding: 5px 0px;
        margin: 0px;
        font-size: 80%;
    }
   
}

@media (min-width: 992px) {
    .equipment-button h3{
        border-style: solid;
        border-width: 2px;
        text-align: center;
        color: white;
        padding: 5px 0px;
        margin: 0px;
        font-size: 100%;
    }
   
}

@media (min-width: 1200px) {
    .equipment-button h3{
        border-style: solid;
        border-width: 2px;
        text-align: center;
        color: white;
        padding: 5px 0px;
        margin: 0px;
        font-size: 100%;
    }
   
}



.equipment-button img{
	max-width: 80%;
}