.carousel {
	margin-top: 100px;	
	margin-bottom: 100px;
}

.carousel img {
  width: auto;
  height: 300px;
  max-height: 300px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left span{
	color: gray;
}

.carousel-control.right span{
    color: gray;
}

.carousel-control {
  background: none;
}

.carousel-caption {  
  background: transparent;
}

