::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar{
     display: none; 
}


@font-face {
	font-family: 'Conv_niamey__';
	src: url('fonts/niamey__.eot');
	src: local('☺'), url('fonts/niamey__.woff') format('woff'), url('fonts/niamey__.ttf') format('truetype'), url('fonts/niamey__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


#intro {
background-color: white;
height:auto;
width:100%;
position:relative;
margin:0 auto;
padding-bottom:100px;
    

}
#sslide{
    height:100%;
    width:100%;
    float:inherit;
    position:relative;
}
#bod{
    
    font-family: 'Conv_niamey__';
    padding: 0px 0px;   
    overflow-x: hidden;
    
}
#home {
    
background:url(images/studio.jpg) 50% 0 fixed;
height:auto;
width:100%;
position:relative;
padding-top: 200px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;

}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#contact{
height: 680px;
width:100%;
position:relative;
color:#fff;
margin:0 auto;
}

#equipment{
background-color: rgba(66, 197, 190, 1);
height:auto;
width:100%;
position:relative;
color:#fff;
}

#about {
background-color: rgb(31, 31, 31);
height:auto;
width:100%;
position:relative;
color:#fff;
margin:0 auto;
padding:100px 0;
}

.hero-unit {
background-color:#fff;
}

.media-object {
width:64px;
height:64px;
padding-bottom:30px;
}

.col-centered h1 {
    
   
    font-size: 700%;
    color:white;
}
.col-centered:not(.studio) h2 {
    font-size: 500%;
    color:white;
}
.col-centered.studio h2 {
    font-size: 400%;
    font-weight:normal;
    color: rgba(66, 197, 190, 1);
}


.col-centered-border h3 { 
    margin-top: 10px;
}

.col-centered-border {
    border-style: solid;
    position: relative;
    border-width: 5px;
    float:none;
    margin: 0 auto;
	text-align: center;
	color:white;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.contact-info{
	bottom: 200px;
}

.contact-form{
	bottom: 100px;
}
.contact-address{
    bottom: 280px;
}

.contact-address h2{
    font-size: 130%;
    color: rgb(31, 31, 31);
}
.col-centered-border:hover{
	color: rgb(31, 31, 31);;
}
#mainNav {
    background-color: rgba(66, 197, 190, 1);
}

#map-container-g{
	width:100%;
	height:100%;
}

.text-banner {
    text-align: center;
    margin: 0px 0px;
}
.text-banner h1 {
    font-size: 44px;
}
.text-banner p {
    font-size: 18px;
}



/*li:hover{
	border-top: 4px solid black;
   	  color: #1f1f1f;
}

li.activ {
   	  border-top: 4px solid black;
   	  color: #1f1f1f;
}
li:not(.activ):not(.notMain) {
   	  border-top: 4px solid rgba(66, 197, 190, 1);
   	  color:  white;
}*/
.shadow{
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	max-height: 50%;
	bottom:0px;	
}

.col-centered img:not(.trian){
	max-width: 40%;
}
.col-centered img.trian{
	max-width: 7%;
}

 .triangle {
 	border-top: 4px solid rgba(255, 255, 255, 1);}

.col-centered{
	float:none;
	padding-top: 25px;
    padding-bottom: 25px;
	text-align: center;
    margin:0 auto;float:none;position:relative;
}



.col-centered-studio{
	float: left;
	text-align: center;
}

.col-centered-studio img{
	padding-top: 10px;
    padding-bottom: 10px;
	max-width: 60%;
}
.col-centered p{
	color: #DE1B1B;
}
.col-centered p1{
	color: white;
}
.col-centered p2{
	color: black;
}
.cont-nav{
	background-color: rgba(66, 197, 190, 1);
}


.intro-img{
    padding-top: 20px;
} 

.intro-img img{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.grey-trian img{
    margin-top: 0px;
    max-width: 7%;
}
#carousel {
    margin: 40px 0px;
}
#carousel img {
    width: 100%;
    height: auto;
}

.contact-us {
    margin: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.range-list {
    padding-bottom: 40px;
    padding-top: 40px;
}
.range-list h4 {
    margin-bottom: 40px;
    color: darkorange;
    font-weight: bold;
}
.range-list img {
    width: 100%;
    height: 100%;
    max-width: 140px;
    max-height: 60px;
}
.range-title {
    color: darkblue;
}

.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
}
.sports-icon-list a {
    color: white;
}
.sports-icon-list a h6 {
    margin-top: 2px;
    margin-bottom: 14px;
}
.sports-icon-list img {
    width:70px;
    height:70px;
}

.sports-list-top div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sports-list-top a {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

article {
    padding: 40px;
}
article img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
}
article p {
    font-size: 16px;
}

@media (max-width: 767px) {

    .range-list h4 {
        display: inline;
        font-size: 18px;
    }

    .range-list a {
        display: block;
    }

    .range-list img {
        width: 33%;
        height: 33%;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

}
/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
