.md-modal {
	position: fixed;
	top: 50%;
    right: 50%;
	left: 50%;
	width: 50%;
	max-width: 430px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}


.modal-content{
	background: rgba(255, 255, 255, 0.8);
}


@media (min-width: 768px) {
   
}
@media (min-width: 992px) {
   .modal-lg {
  width: 400px;
}
.modal-text{
    padding: 1em;
    
}
   input[type="text"]{
        height:  40px;   
    }
    
    input[type="textarea"]{
        height:  80px;   
    }
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-content h2 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.8em;
	font-weight: 300;
	opacity: 0.8;
    color: black;
	border-radius: 3px 3px 0 0;
}
    
    .modal-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 1.8em;
	font-weight: 300;
	opacity: 0.8;
    color: black;
	border-radius: 3px 3px 0 0;
}
    .modal-content .col-centered-border{
          border-width: 3px;
    }
/* Content styles */
/*
.md-content {
	color: black;
	background: rgba(255, 255, 255, 0.901961);
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}
*/

/*
.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}
.md-content  p {
	color:blue;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}
*/

.md-content button {
/*	margin: 0 auto;*/
/*	  margin: 0 auto;*/
  
  padding-right: 10px;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: rgba(242, 235, 235, 0.52);
}
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}
