#rates {
	background-image: url(../images/band-in-studio.jpg);
    background-color: black;
	padding-bottom: 100px;
}

.black-trian img{
	max-width: 7%;
}

.rates-header h1{
	color: white;
    padding-bottom: 50px;
}

.rates-square{
    background-color: rgba(0,0,0,0.8);
    margin: 10px;
    margin-left: 10px;
    padding: 80px 0px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.rates-square:hover{
    background-color: rgba(66,197,190,1);
}

.rates-square h3{
	vertical-align: center;
	text-align: center;
	color: white;
}

@media (max-width: 768px) {
    .rates-square {
        background-color: rgba(0,0,0,0.8);
	    margin: 10px;
	    padding: 20px 0px;
    }
   
}
@media (max-width: 992px) {
    .rates-square {
        background-color: rgba(0,0,0,0.8);
	    margin: 10px;
	    padding: 20px 0px;
    }
}