#studios {    
    background: url(../images/blur-mixer.jpg) 50% 0 fixed;
    height:auto;
    width:100%;
    position:relative;
/*    padding-top: 80px;*/
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.studios-header h1{
	color: white;
    padding-top: 100px;
}

.studios-paragraph {
    background: none;
    background-color: black;
}

.studios-paragraph p{
    color: white;
    padding: 100px;
}

.studios-equip-info {
    background: none;
    background-color: white;
}